[tool.poetry]
name = "aymara"
version = "0.2.0"
description = "Python bindings to the LIMA linguistic analyzer"
authors = ["Gael de Chalendar <gael.de-chalendar@cea.fr>"]

[tool.poetry.dependencies]
python = "^3.6"
pyconll = "^2.0"
requests = "^2.22"
PySide2 = "^5.12"
docker = "^4.1.0"

[tool.poetry.dev-dependencies]
pytest = "^3.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
